@import url('variables.css');
@import url('common.css');
@import url('utilities.css');

/*********
DEBUG
*********/
.debug .portfolio .row .row > * {
    border: .0625rem dotted green;
}

.degub header {
    height: 5.625rem;
}

/*********
HEADER
*********/
header {
    background-color: var(--ms-primary-color);
    
}

/*********
MAIN
*********/

/*--- jumbotron ---*/

#jumbotron {
    background-color: var(--ms-secondary-color);
}

/*--- portfolio ---*/

#portfolio {
    color: var(--dark-grey);
}

.portfolio_card {
    border-radius: 1.875rem;
    overflow: hidden;
}

.portfolio_card > img {
    width: 100%;
    height: auto;
}

/*--- about ---*/

.about {
    background-color: var(--green);
}

/*--- contact me ---*/

.contact-me {
    color: var(--dark-grey);
}

.contact-me .name {
    border-bottom: 1px solid #cccccc;
}

/*********
FOOTER
*********/
footer .info {
    background-color: #3a546d;
}

footer .copyright {
    background-color: var(--dark-grey);
}