@import url('variables.css');
@import url('common.css');
@import url('utilities.css');

/*********
DEBUG
*********/
.debug .portfolio .row .row > * {
    border: .0625rem dotted green;
}

/*********
HEADER
*********/
header {
    background-color: var(--ms-primary-color);
}

header a,
header .nav_links ul li a {
    color: #FFF;
    font-weight: bold;
}

.navbar button {
    border-color: white;
}

/*********
MAIN
*********/

/*--- jumbotron ---*/

#jumbotron {
    background-color: var(--ms-secondary-color);
}

#jumbotron .jumbotron_content > img {
    width: 50%;
}

/*--- portfolio ---*/

#portfolio {
    color: var(--dark-grey);
}

.portfolio_card {
    border-radius: 1.875rem;
    overflow: hidden;
}

.portfolio_card > img {
    width: 100%;
    height: auto;
}

/*--- about ---*/

#about {
    background-color: var(--ms-secondary-color);
}

/*--- contact me ---*/

#contact-me {
    color: var(--dark-grey);
}

/*********
FOOTER
*********/
footer #info {
    background-color: var(--ms-primary-color-light);
}

footer #copyright {
    background-color: var(--ms-primary-color);
}